Templates(
    entities:[
        Template(
            entity_type: Item,
            name: "Insignificant healing potion",
            provides: Some([("health", 5, None)]),
            icon: '!',
            levels: [0, 1, 2],
            quality: Some(Poor),
            frequency: 2
        ),
        Template(
            entity_type: Item,
            name: "Phat healing potion",
            provides: Some([("health", 15, None)]),
            icon: '!',
            levels: [0, 1, 2],
            quality: Some(Epic),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name: "Greatsword",
            icon: '/',
            levels: [0, 1, 2],
            quality: Some(Rare),
            base_damage: Some(3),
            frequency: 10
        ),
        Template(
            entity_type: Item,
            name: "Small mana potion",
            provides: Some([("mana", 5, None)]),
            icon: '?',
            levels: [0, 1, 2],
            quality: Some(Common),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name: "Phat mana potion",
            provides: Some([("mana", 15, None)]),
            icon: '?',
            levels: [0, 1, 2],
            quality: Some(Legendary),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name: "Dungeon Map",
            provides: Some([("mapreveal", 0, None)]),
            icon: '{',
            levels: [0, 1, 2],
            quality: Some(Uncommon),
            frequency: 1
        ),
        Template(
            entity_type: Enemy,
            name: "Goblin",
            icon: 'g',
            levels: [0, 1, 2],
            hp: Some(3),
            quality: Some(Poor),
            base_damage: Some(2),
            frequency: 115
        ),
        Template(
            entity_type: Enemy,
            name: "Orc",
            icon: 'o',
            levels: [1, 2],
            hp: Some(6),
            quality: Some(Common),
            base_damage: Some(3),
            frequency: 100
        ),
        Template(
            entity_type: Enemy,
            name: "Orc VII",
            icon: 'o',
            levels: [2],
            hp: Some(12),
            quality: Some(Rare),
            base_damage: Some(4),
            frequency: 50
        ),
        Template(
            entity_type: Resource,
            name: "Copper mine",
            provides: Some([("CopperOre", 2, Some(6))]),
            icon: 'C',
            levels: [0, 1, 2],
            frequency: 3
        ),
        Template(
            entity_type: Resource,
            name: "Iron mine",
            provides: Some([("IronOre", 2, Some(4))]),
            icon: 'I',
            levels: [1, 2],
            frequency: 2
        ),
        Template(
            entity_type: Resource,
            name: "Mithril mine",
            provides: Some([("MithrilOre", 1, Some(3))]),
            icon: 'M',
            levels: [2],
            frequency: 1
        )
    ]
)